.header {
  width: 100vw;
  
  background-color: #F3F3F3;
  display: flex;

}

a {
  color: #000;
  text-decoration: none;
}

.header-logo {
  width: 25vw;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-menu-list {
  width: 75vw;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-menu {
  padding: 10px 20px;
}
