.registration-main,
.session-main,
.user-edit-main,
.mypage-main,
.new-event-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.error-message {
  color: #FF0000
}

.form-header {
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

.field {
  padding: 10px;
}

.field-name {
  font-size: 15px;
  text-align: left;
}

.input-field {
  color: #532D22;
  width: 350px;
  padding: 10px 16px 8px;
  border: 1px solid #FDD692;
}

.text-field {
  color: #532D22;
  width: 350px;
  height: 170px;
  padding: 10px 16px 8px;
  border: 1px solid #FDD692;
}

.input-field::placeholder,
.text-field::placeholder,
.price-field::placeholder {
  color: #DBB470;
}

.hidden-item-image {
  display: none;
}

.item-image {
  color: #FFF;
  cursor : pointer;
  background-color: #8CD790;
  border: 1px solid #8CD790;
  width: 384px;
  padding: 10px 0px 8px;
  text-align: center;
  margin-bottom: 20px
}

.image-file>img {
  width: 384px;
  height: 216px;
  object-fit: cover;
}

.image-url {
  width: 384px;
}

.datetime-field,
.time-field {
  color: #532D22;
  width: 384px;
  border: 1px solid #fdd692;
}

.price-field {
  color: #532D22;
  width: 330px;
  padding: 10px 16px 8px;
  border: 1px solid #FDD692;
}

.mypage-field {
  width: 350px;
  padding: 5px 16px 30px;
}

.word-count {
  font-size: 12px;
  text-align: right;
}

.actions,
.log-out,
.delete-account,
.return {
  width: 384px;
  margin-top: 40px;
  padding: 10px 0px 8px;
  text-align: center;
  border: 1px solid #FDD692;
  cursor : pointer;
}

.actions {
  color:#532D22;
  background-color: #FDD692;
}



.log-out {
  color: #FFF;
  background-color: #FF5500;
}

.delete-account {
  color: #FFF;
  font-weight: bold;
  background-color: #A50000;
}

.return {
  color:#532D22;
  background-color: #FFF;
  margin-bottom: 50px;
  border: 1px solid #532D22;
}