.header {
  display: flex;
  align-items: center;

  background-color: #CCC;
  width: 100vw;
  height:100px;
}

.header-logo {
  font-size: 25px;
  color: #000;
  font-weight: bold;
  margin-left: 50px;
}

.header-menu {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}

.menu-list {
  font-size: 16px;
  color: #000;
  padding: 15px;
}