.registration-main,
.session-main,
.user-edit-main,
.mypage-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-header {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
}

.field {
  padding: 10px;
}

.field-name {
  font-size: 15px;
}

.input-field {
  width: 350px;
  margin-top: 5px;
  padding: 10px 16px 8px;
  border: 1px solid #CCC
}

.text-field {
  width: 350px;
  height: 200px;
  margin-top: 5px;
  padding: 10px 16px 8px;
  border: 1px solid #CCC;
}

.mypage-field {
  width: 350px;
  margin-top: 5px;
  padding: 5px 16px 24px;
}



.actions {
  width: 350px;
  margin-top: 40px;
  padding: 10px 16px 8px;
  text-align: center;
  background-color: #FFA500;
  border: 1px solid #FFF;
}

.log-out {
  width: 350px;
  margin-top: 40px;
  padding: 10px 16px 8px;
  text-align: center;
  color: #FFF;
  background-color: #FF5500;
  border: 1px solid #FFF;
}

.return {
  width: 350px;
  padding: 10px 16px 8px;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 50px;
  background-color: #CCC;
  border: 1px solid #CCC
}